<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekend Matcher</title>
</head>
<body>
  <h1>Hi. This is my first serious project. Hope you like it!</h1>
  <form >
    <label>
      Weekends:
    </label>
    <input type="text">
    <label>
      Intervals:
    </label>
    <input type="number">
    <label>
      Starts from:
    </label>
    <input type="date">
    <label>
      Number of matches:
    </label>
    <input type="number">
  </form>
</body>
</html>