  <h1>Hi. This is my first serious project. Hope you like it!</h1>
  <div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="row">
      <label class="form-label">
        Weekends:
      </label>
      <input class="form-control" formControlName="weekends" type="text">
    </div>
    <div class="row">
      <label class="form-label">
        Intervals:
      </label>
      <input class="form-control" formControlName="intervals" type="number">
    </div>
    <div class="row">
      <label class="form-label">
        Starts from:
      </label>
      <input class="form-control" formControlName="startFrom" type="date">
    </div>
    <div class="row">
      <label class="form-label">
        Number of matches:
      </label>
      <input class="form-control" formControlName="noOfMatches" type="number">
    </div>
    <button type="submit" class="btn btn-dark">Find out!</button>
  </form>
  </div>